<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-clock-o fa-fw"></i>  Timeline
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <ul class="timeline">
            <li ng-repeat="chapter in chapters" ng-class="{ 'timeline-inverted': !$even }">
                <div class="timeline-badge {{  chapter.timeline.status }}">
                    <i class="fa {{ chapter.timeline.icon }}" ></i>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title" >
                            <span ng-bind="chapter.name"></span>
                            <small ng-if="isOwner() " class="text-muted"><a href="//{{ chapter.url }}"><i class="fa fa-pencil"></i> edit</a></small>
                        </h4>
                        <p>
                            <small class="text-muted"><i class="fa fa-clock-o"></i>  <time-ago from-time='{{ chapter.dueDate }}'></time-ago></small>
                        </p>
                    </div>
                    <div class="timeline-body">
                        <p>
                            {{ chapter.content }}
                        </p>
                    </div>
                </div>
            </li>

        </ul>
    </div>
    <!-- /.panel-body -->
</div>