<div>
    <div><!-- ng-controller="HomeCtl">-->
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1>About:</h1>

                <h3>
                    Our Story:
                </h3>
                <p>
                    Hello my name is Matt Lea creator of <a href="http://chapterfactory.com">chapterfactory.com</a>. I am an aspiring author and writer at  <a href="http://shiportgetoffthepot.com">Ship Or Get Off The Pot</a>.
                </p>
                <p>
                    While doing the research for my second book <a href="http://fear.hackinggymnasics.com">Hacking Fear: Tips and tricks for helping high performing athletes through mental issues</a>
                    I learned a thing or two about creating reward/result loops that would enforce desired behaviors.
                    I eventually decided to apply these principals to help other writers finish their books and so was born  <a href="http://chapterfactory.com">chapterfactory.com</a>.
                </p>

                <h3>
                    Our Mission:
                </h3>
                <h3> <span class="small">To build tools that help aspiring writers write.</span></h3>




            </div>
        </div>
    </div>
</div>