<div>
    <div><!-- ng-controller="HomeCtl">-->
        <div class="row">
            <div class="col-md-12">
                <h1>FAQ:</h1>
               <h3>
                   How much does Chapter Factory Cost?
               </h3>


                It is absolutely 100% FREE for you to use. Create 100 books if you like and it will still be free.
                <h3>
                    Who owns the Intellectual Property:
                </h3>
                I is yours to do what you like with. We own none of it.

                <h3>
                    Can I sell my book through Chapter Factory?
                </h3>
                Coming soon...


                <h3>
                    What if I have an idea for a feature?
                </h3>
                Please, Please, <a href="mailto:mlea@schematical.com">send it to us</a>. We are here to serve your needs.
            </div>
        </div>
    </div>
</div>