<div class="panel panel-default" ng-keydown="keyDown($event)">
    <div class="panel-heading">
        Get Started!
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">

        <div>
            <div ng-if="!chapter.startedDate">
                <h4 class="text-center">Ready to start writing {{ chapter.name }}?</h4>

                <button ng-click="markStarted()" type="button" class="btn btn-outline btn-primary btn-lg btn-block">Start Writing Now</button>
            </div>
            <div ng-if="chapter.startedDate">
                <text-angular ng-model="chapter.content_html"></text-angular>


                <div class="btn-group pull-right">
                    <button type="button" ng-click="saveContent()" type="button" class="btn btn-outline btn-lg  {{saveClass}}">{{ saveText }}</button>
                    <button type="button" class="btn dropdown-toggle btn-lg btn-outline  {{saveClass}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-show="!chapter.publishedDate"><a href="#" ng-click="promptForPublish();">Mark Published</a></li>
                        <!--<li ng-show="chapter.publishedDate"><a href="#" ng-click="promptForUnublish();">Unpublished</a></li>-->
                        <!--
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>-->
                    </ul>
                </div>




                <div id="publishModal" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Publish {{ chapter.name }}</h4>
                            </div>
                            <div class="modal-body">
                                <h3>
                                    Great Work!
                                </h3>
                                <p>
                                    Are you sure the world is ready for your amazing work?
                                </p>
                                <i>Your followers will be notified via email when you click publish</i>
                                <div class="form-group"  ng-class="{ 'has-error': titleDescError }">
                                    <label class="control-label" for="title_desc">
                                        Care to add a note for your adoring fans?
                                    </label>
                                    <textarea id="title_desc" class="form-control" rows="3" ng-model="notes"></textarea >
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn {{ publishBtnClass }}" ng-click="markPublished();">Publish</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->


            </div>
        </div>


    </div>
    <!-- /.panel-body -->
</div>